.aboutMeImg {
  position: relative;
  overflow: visible !important;
}
.aboutMeImg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--main);
  top: 15px;
  left: 15px;
}
