footer {
  background-color: #f5f5f5;
}

footer svg {
  transition: fill 0.2s linear;
  width: 24px;
  height: 24px;
}

footer svg:hover {
  fill: var(--main) !important;
}

.footerBottom {
  display: flex;
  justify-content: space-between !important;
}

.footerBottom > * {
  display: flex;
}
.footerBottom > *:nth-child(2),
.footerBottom > *:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
