header {
  min-inline-size: 100%;
  position: fixed;
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 100;
}
.headerWrap {
  --wrap-justify: flex-start;
  padding-block: var(--s0);
}

.headerWrap > *:nth-child(1) {
  flex: 0 1 10%;
}

@media (max-width: 500px) {
  .headerWrap {
    --wrap-space: var(--s-3);
  }
  .headerWrap a {
    font-size: var(--s-2);
  }
}
